<section>

  <h3>About Myself</h3>

  <div class="face-lockup">

    <div class="face-img" style="background-image: url(/assets/img/{{site:avatar}})"> </div>

    <div class="icon-lp"> {% include icons/icon_LP.html %} </div>
    <div class="icon-7inch"> {% include icons/icon_7inch.html %} </div>
    <div class="icon-cd"> {% include icons/icon_CD.html %} </div>
    <div class="icon-cassette"> {% include icons/icon_Cassette.html %} </div>

  </div>

  <div class="blurb">
    {{site:blurb}}
  </div>


  <div class="skill-lockup">

    <div class="skill-unit">
      <div class="skill-label">Communication</div>
      <div class="skill-icon skill-9">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">Organisation</div>
      <div class="skill-icon skill-8">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">Learning</div>
      <div class="skill-icon skill-9">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">Teaching</div>
      <div class="skill-icon skill-6">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">Planning</div>
      <div class="skill-icon skill-7">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">Visual Design</div>
      <div class="skill-icon skill-8">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">UX Design</div>
      <div class="skill-icon skill-7">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">Programming</div>
      <div class="skill-icon skill-7">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>


  </div>

</section>
